<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= "Padawan | Le réseau des apprentis" %></title>
   <!-- Javascripts
    ================================================== -->
   <%= javascript_include_tag :jquery %>
   <%= javascript_include_tag :bootstrap %>
   <!-- Stylesheets
    ================================================== -->
	<!-- <%= stylesheet_link_tag    "application" %> -->
	<%= stylesheet_link_tag    "bootstrap.min" %>
	<%= stylesheet_link_tag    "bootstrap-responsive.min" %>
	<%= stylesheet_link_tag    "global" %>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>
			  <!-- Log In Modal -->
			   <div class="modal hide fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			   <div class="modal-header">
			   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			   <h3 id="myModalLabel">Connexion sur Padawan</h3>
			   </div>
			   <div class="modal-body">
			   <%= render "/sessions/new.html.erb"%>
			   </div>
			   <div class="modal-footer">
			   <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
			   </div>
			   </div>
			   <!-- End of Log In Modal -->

			   <!-- Sign Up Modal -->
			   <div class="modal hide fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			   <div class="modal-header">
			   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			   <h3 id="myModalLabel">S'inscrire sur Padawan</h3>
			   </div>
			   <div class="modal-body">
			   <% @user = User.new %>
			   <%= render "/users/new.html.erb"%>
			   </div>
			   <div class="modal-footer">
			   <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
			   </div>
			   </div>
			   <!-- End of Sign Up Modal -->


          <% if current_user %>
            <div class="navbar navbar-fixed-top">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a class="brand" href="/">Padawan</a>
                  <div class="nav-collapse">
                    <ul class="nav">
                      <li class="active"><a href="#">Acceuil</a></li>
                      <li class="divider-vertical"></li>
                      <li><a href="#">Profile</a></li>
                      <li class="divider-vertical"></li>
                      <li><a href="#">Mon réseau</a></li>
                      <li class="divider-vertical"></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Messagerie<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                         <li class="nav-header">Mes Messages</li>
                          <li><a href="#">Reçus</a></li>
                          <li><a href="#">Envoyés</a></li>
                          <li><a href="#">Archives</a></li>
                          <li class="divider"></li>
                          <li class="nav-header">Groupes</li>
                          <li><a href="#">Reçus</a></li>
                          <li><a href="#">Envoyés</a></li>
                        </ul>
                      </li>
                      <li class="divider-vertical"></li>
                    </ul>
                    <form class="navbar-search pull-left" action="">
                      <input type="text" class="search-query span2" placeholder="Rechercher">
                    </form>
                    <ul class="nav pull-right">
                      <li><a href="#">Liens</a></li>
                      <li class="divider-vertical"></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mon Compte<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Configuration</a></li>
                          <li><a href="#">Sécurité</a></li>
                          <li><a href="#">Permission</a></li>
                          <li class="divider"></li>
                          <li><a href="/logout_user">Deconnection | <%= current_user.first_name %></a></li>
                        </ul>
                      </li>
                    </ul>
                  </div><!-- /.nav-collapse -->
                </div><!-- container-->
              </div><!-- /navbar-inner -->
            </div><!-- /navbar -->
          <% else %>
              <div class="navbar navbar-fixed-top">
                 <div class="navbar-inner">
                    <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </a>
                   <a class="brand" href="/">Padawan</a>
                    
                                <div class="nav-collapse">
                              
                                <ul class="nav pull-right">
                                <li><button class="btn" id="loginclick">Se connecter</button></li>
                                <li class="divider-vertical"></li>
                                <li><button class="btn" id="signupclick">Rejoindre le réseau</button></li>
                                <li class="divider-vertical"></li>
                                <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pourquoi ce réseau?<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                               <li><a href="#">Créer des liens</a></li>
                               <li><a href="#">Collaborer avec d'autres padawans</a></li>
                               <li><a href="#">Agrandir votre réseau</a></li>
                               <li class="divider"></li>
                               <li><a href="#">Mode Demo!</a></li>
                               </ul>
                               </li>
                         </ul>
                        </div><!-- /.nav-collapse -->
                    </div><!-- container>
                 </div><!-- /navbar-inner -->
             </div><!-- /navbar -->
               
          <% end %>

   <% if current_user %>
    <div class="container" style="margin-top:40px;">
        <div class="row">
        <div class="span3">
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header">Jedi</li>
                <li><%= link_to "Mes Badges", ""  %></li>
                <li><%= link_to "Connections", ""  %></li>
                <li><%= link_to "Messagerie", ""  %></li>
                <li><%= link_to "Groupes", ""  %></li>
              </ul>
            </div><!--/.well -->
          </div><!--/span-->
          <div class="span9">
             <%= yield %>
          </div>
        </div><!--/row-->

      <footer>
        <p>&copy; 2014 - Padawan | Le réseau</p>
      </footer>
    </div> <!-- /container -->
  <% else %>
   <div class="container" style="margin-top:40px;">
     <%= yield %>
      <footer>
        <p>&copy; 2014 - Padawan | Le réseau</p>
      </footer>
    </div> <!-- /container -->
    <% end %>
  </body>
  <script>
   $('#loginclick').click(function(){
    $('#login').modal('show')
   });
   $('#signupclick').click(function(){
    $('#signup').modal('show')
   });
</script>
</html>