<p id="notice"><%= notice %></p>

<p>
  <b>Post:</b>
  <%= @status.post %>
</p>

<p>
  <b>Posté par:</b>
  <%= @status.posted_by %>
</p>

<p>
  <b>Posté par uid:</b>
  <%= @status.posted_by_uid %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', status_path %>
